.card__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 480px;
  margin: 2rem;
}

.card__image-title {
  position: absolute;
  bottom: 12rem;
  display: none;
  font-size: 1.5rem;
}

.card__image:hover {
  transform: scale(1.05);
}

.card__image:hover .card__image-title {
  display: block;
}

.card__image:hover .responsive-img {
  opacity: 0.5;
}

.responsive-img {
  max-height: 100%;
}

.project__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

@media (max-width: 2315px) {
  .card__image {
    width: 450px;
    height: 450px;
    margin: 1.5rem;
  }
}

@media (max-width: 2121px) {
  .project__section {
    justify-content: space-around;
  }

  .card__image {
    width: 430px;
    height: 430px;
    margin: 1.5rem;
  }
}

@media (max-width: 550px) {
  .card__image {
    width: 80%;
    height: 430px;
    margin: 1.5rem;
  }
}